In [ ]:
import pandas as pd

# we can load the raw csv and check if we loaded it correclty
df = pd.read_csv('../data/sneakers_streetwear_sales_data.csv')
df.head(5)

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount ($),Payment Mode
0,2022-05-27,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,2022-08-22,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,2022-04-03,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,2022-07-13,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,2022-08-25,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery

In [4]:
# show info and types
df.info

<bound method DataFrame.info of            Date                Product Name Product Type       Brand  Gender  \
0    2022-05-27  Fear of God Essentials Tee      T-shirt  Essentials  Unisex
1    2022-08-22             Yeezy Boost 350     Sneakers      Adidas  Unisex
2    2022-04-03               Nike Dunk Low     Sneakers        Nike   Women
3    2022-07-13            Nike Tech Fleece       Hoodie        Nike     Men
4    2022-08-25               Jordan 1 High     Sneakers        Nike   Women
..          ...                         ...          ...         ...     ...
348  2022-04-08               Jordan 1 High     Sneakers        Nike     Men
349  2022-08-03            Nike Tech Fleece       Hoodie        Nike   Women
350  2022-05-05                Puma Joggers      Joggers        Puma   Women
351  2022-05-19           Adidas Ultraboost     Sneakers      Adidas     Men
352  2022-07-17               Nike Dunk Low     Sneakers        Nike   Women

            Category    Country  Quantity  Unit Price ($)  Amount ($)  \
0    Limited Edition      Japan         5          141.82      709.10
1         Streetwear        USA         2          267.34      534.68
2    Limited Edition    Germany         1          292.00      292.00
3    Limited Edition        USA         4          245.44      981.76
4             Casual  Australia         2          184.51      369.02
..               ...        ...       ...             ...         ...
348           Casual      India         5           94.25      471.25
349           Casual    Germany         5          259.00     1295.00
350           Casual    Germany         4          299.73     1198.92
351           Casual     Canada         5           71.26      356.30
352  Limited Edition      Japan         5          270.14     1350.70

         Payment Mode
0                Card
1    Cash on Delivery
2    Cash on Delivery
3    Cash on Delivery
4    Cash on Delivery
..                ...
348            Wallet
349              Card
350  Cash on Delivery
351  Cash on Delivery
352            Wallet

[353 rows x 11 columns]>

In [9]:
# standarize column names and convert date to datetime
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('[^a-z0-9_]', '', regex=True).str.rstrip('_')
df['date'] = pd.to_datetime(df['date'])
df.head(5)

,date,product_name,product_type,brand,gender,category,country,quantity,unit_price,amount,payment_mode
0,2022-05-27,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,2022-08-22,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,2022-04-03,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,2022-07-13,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,2022-08-25,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery

In [10]:
# make sure the numeric column types are correct
df['quantity'] = df['quantity'].astype(int)
df['unit_price'] = df['unit_price'].astype(float)
df['amount'] = df['amount'].astype(float)

In [ ]:
# check if there are any duplicates and if so drop
df.duplicated().any()

0

In [13]:
# clean our saved data
df.to_csv('../data/sneaker_sales_2022_clean.csv', index=False)